<h1>Question: <%= @question.content %> </h1>

<% unless @surveys == [] || @surveys == nil || @surveys_question == nil%>
<h4>Surveys:</h4>
<ul>
  <li><a id ="survey_<%=@surveys_question.id %>" href="/surveys/<%= @surveys_question.id %>"><%= @surveys_question.name %></a></li>
</ul>
<% end %>

<br>

<form action="/questions/<%= @question.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="question_content">Enter a new name:</label>
    <input id="question_content" required type="text" name="question_content">
    <button class="btn btn-info" id="update_content" name="update_content">Update</button>
  </div>
</form>

<br>

<% unless @surveys == [] || @surveys == nil %>
<h4>Add to Surveys:</h4>
<form action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% @surveys.each do |survey| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="<%= survey.id %>" name="survey_ids[]" value="<%= survey.id %>"><%= survey.name %>
    </label>
  </div>
  <% end %>
  <button class="btn btn-info" type="submit" id="attach_surveys" name="attach_surveys">Add Questions to Survey</button>
</form>
<% end %>

<br>

<form action="/questions/<%= @question.id %>/delete" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit" id="delete_question" name="delete_question">Delete Question</button>
  </div>
</form>
