<h1>Survey: <%= @survey.name %> </h1>

<% if @questions_survey.any? %>
<h4>Questions:</h4>
<ul>
  <% @questions_survey.each do |question| %>
  <li><a id ="question_<%=question.id %>" href="/questions/<%= question.id %>"><%= question.content %></a></li>
  <% end %>
</ul>
<% end %>

<br>

<form action="/surveys/<%= @survey.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="survey_name">Enter a new name:</label>
    <input required type="text" name="survey_name">
    <button class="btn btn-info" id="update_name" name="update_name">Update</button>
  </div>
</form>

<br>

<% if @questions.any? %>
  <h4>Add new Questions:</h4>
  <form action="/surveys/<%= @survey.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <% @questions.each do |question| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="<%= question.id %>" name="question_ids[]" value="<%= question.id %>"><%= question.content %>
        </label>
      </div>
    <% end %>
    <button class="btn btn-info" type="submit" id="attach_questions" name="attach_questions">Add Questions to Survey</button>
  </form>
<% end %>

<br>

<form action="/surveys/<%= @survey.id %>/delete" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit" id="delete_survey" name="delete_survey">Delete Survey</button>
  </div>
</form>
